* {
  text-align: center;
}

body {
  font-family: "Roboto Mono", monospace;
  min-height: 400px;
  background-color: #111;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.blur {
  background-position: center;
  background-image: url("https://media-manager.noticiasaominuto.com.br/1920/naom_609a98092c576.jpg");
  filter: blur(4px);
  height: 100%;
  opacity: 0.4;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-logo {
  width: 200px;
}

table {
  border: 2px solid white;
  border-collapse: collapse;
}

h1 {
  color: white;
}

th,
tr,
td {
  border: solid 1px white;
  color: white;
}

.form-wrapper {
  margin: 0 0 15px;
}

.form-wrapper input {
  display: block;
  margin: 0 auto;
  padding: 10px 15px;
  width: 240px;
}

.form-wrapper button {
  border: 0;
  color: #ffffff;
  background: #da1e26;
  font-weight: bold;
  padding: 15px 20px;
  font-size: 16px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.form-wrapper button:hover {
  opacity: 0.8;
}
